.dashboard-panel-ctn {
  max-width: 316px;
  background-color: #0694a2;
  display: flex;
  border-radius: 0.5rem;
  justify-content: center;
  /* border: 2px solid black; */
  padding: 16px 6px;
  flex-direction: column;
  align-items: center;
}

.dashboard-panel-icon {
  margin: 6px 0px;
  font-size: 30px;
  color: var(--white);
}

.dashboard-panel-txt {
  font-size: 16px;
  margin: 6px 0px;
  color: var(--white);
}

.dashboard-panel-price {
  font-size: 24px;
  margin: 6px 0px;
  font-family: Sora-Bold;
  color: var(--white);
}
