.cartitem-ctn {
  display: flex;
  background-color: var(--bg-white);
  /* border: 1px solid red; */
  padding: 12px 6px;
  min-width: 100px;
  min-height: 60px;
  margin: 8px 0px;
}

.cartitem-img {
  width: 70px;
  margin-left: 12px;
  align-self: flex-start;
}

.cartitem-panel {
  /* border: 2px solid purple; */
  margin-left: 8px;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cartitem-removebtn {
  /* border: 2px solid green; */
  margin: 0px 10px;
  color: var(--black);
  font-size: 28px;
  align-self: center;
}

.cartitem-removebtn:hover {
  color: var(--red);
}

.cartitem-detailsctn {
  display: flex;
  margin-left: 0px;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
  min-width: 20px;
  min-height: 20px;
}

.cartitem-productname {
  font-family: Sora-Thin;
  font-size: 16px;
  font-weight: bolder;
  /* margin-left: 6px; */
}

.cartitem-counterinput {
  /* border: 1px solid yellow; */
  margin-top: 12px;
}

.cartitem-amount {
  margin-top: 12px;
}
