.category-header {
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid purple; */
  align-items: center;
  margin: 20px 0;
  height: 40px;
  animation: slideInRight 2s;
}

.productdesc-ctn > h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.category-select-control {
  /* border: 1px solid indigo; */
  padding: 2px 5px;
  cursor: pointer;
  width: 180px;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: var(--bg-white);
}

.category-select-arrow {
  color: var(--black);
}

@media (max-width: 639px) {
}

@media (max-width: 375px) {
  .productdesc-ctn > h3 {
    font-size: 15px;
  }
}
