.dashboard-header-ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-white);
  width: 100%;
  min-height: 70px;
  /* box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 5%); */
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  padding: 0px 24px;
}

.dashboard-header-logo {
  object-fit: cover;
  width: 120px;
  display: none;
  max-height: 65px;
  object-position: center;
}

.dashboard-header-logo-ctn {
  /* border: 2px solid black; */
  min-width: 100px;
  display: flex;
  align-items: center;
  min-height: 50px;
}

.dashboard-header-items-ctn {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 100px;
  min-height: 50px;
}

.dashboard-header-notebtn {
  font-size: 32px;
}

.dashboard-header-profileimg-ctn {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  margin-left: 24px;
}

.dashboard-header-profileimg {
  width: 32px;
  cursor: pointer;
  height: 32px;
  border: 1px solid var(--light-gray);
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 639px) {
  .dashboard-header-ctn {
    padding: 0 16px;
  }

  .dashboard-header-logo {
    width: 100px;
    display: inline;
    max-height: 65px;
  }
}
