.store-header {
  display: flex;
  align-items: center;
  background-color: var(--bg-white);
  min-height: 70px;
  box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 5%);
  /* box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%); */
}

.arrow-nav-btn {
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 32px;
}

.store-header-cnt {
  width: 85%;
  margin: auto;
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  align-items: center;
}

.store-name {
  font-size: 18px;
}

.navtabs-ctn {
  background-color: var(--bg-gray);
  border-radius: 10px;
}

.navtabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid red; */
}

.navtabs > li {
  margin: 6px 15px;
}

.navtabs-btn {
  transition: transform 450ms;
  will-change: transform;
}

.navtabs-btn:hover {
  transition: transform 125ms;
  transform: translateY(-5px) scale(1.2);
}

@media (max-width: 639px) {
  .store-header {
    font-size: 12px;
  }
  .store-header-cnt {
    width: 90%;
  }

  .arrow-nav-btn {
    font-size: 26px;
  }
}

@media (max-width: 375px) {
  .store-name {
    font-size: 16px;
  }
}
