.product-detail-ctn {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
  min-height: 60vh;
}

.product-detail-imgctn {
  display: flex;
  justify-content: flex-start;
}

.product-detail-img {
  object-fit: cover;
  border: none;
  width: 450px;
  object-position: center;
}

.product-detail-infoctn {
  display: flex;
  padding: 18px;
  min-height: 100px;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  background-color: var(--bg-white);
}

.product-detail-name {
  font-weight: bold;
  font-family: Sora-Bold;
  font-size: 18px;
}

.product-detail-amount {
  margin-top: 18px;
  font-weight: bold;
  font-family: Sora-Medium;
}

.product-detail-addcartbtn {
  border-radius: 0;
  margin-top: 18px;
  width: 100px;
  padding: 8px;
}

.product-detail-description {
  text-align: justify;
  margin-top: 18px;
  color: var(--text-gray);
}

@media (max-width: 639px) {
  .product-detail-ctn {
    grid-template-columns: auto;
  }
  .product-detail-img {
    width: 100%;
    height: auto;
  }

  .product-detail-img,
  .product-detail-infoctn {
    border-radius: 10px;
  }
}
