.settings-test {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 8px;
  align-content: center;
  justify-content: center;
}

.settings-test > * {
  border: 1px solid red;
  height: 100px;
}
