.settings-test {
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
  column-gap: 15px;
  row-gap: 20px;
  padding: 20px 0px;
  /* border: 2px solid red; */
  justify-content: space-evenly;
}

.settings-test > * {
  /* border: 1px solid red; */
}

.settings-input-label {
  background-color: transparent !important;
}

.settings-input {
  background-color: var(--bg-white) !important;
  border-radius: 0px !important;
  margin-top: 8px;
}

@media (max-width: 650px) {
  .settings-test {
    justify-content: center;
    grid-template-columns: minmax(auto, 500px);
  }
}
