@font-face {
  font-family: Sora-Bold;
  src: url(../public/fonts/Sora/Sora-Bold.ttf);
}
@font-face {
  font-family: Sora-Medium;
  src: url(../public/fonts/Sora/Sora-Medium.ttf);
}
@font-face {
  font-family: Sora-Regular;
  src: url(../public/fonts/Sora/Sora-Regular.ttf);
}
@font-face {
  font-family: Sora-Light;
  src: url(../public/fonts/Sora/Sora-Light.ttf);
}
@font-face {
  font-family: Sora-Medium;
  src: url(../public/fonts/Sora/Sora-Medium.ttf);
}
@font-face {
  font-family: Sora-SemiBold;
  src: url(../public/fonts/Sora/Sora-SemiBold.ttf);
}
@font-face {
  font-family: Sora-Thin;
  src: url(../public/fonts/Sora/Sora-Thin.ttf);
}
@font-face {
  font-family: Sora-Var;
  src: url(../public/fonts/Sora/Sora-VariableFont_wght.ttf);
}

:root {
  --bg-color: #e9ecef;
  --opaque: hsla(0, 0%, 96.5%, 0.6);
  /* --bg-color: rgb(231, 212, 193); */
  --bg-white: #fff;
  /* --bg-white: rgb(231, 212, 193); */
  --blue: #4764e6;
  --icon-color: #000;
  --black: #000;
  --text-gray: #777777;
  --red: #f93232;
  --gray: #777777;
  --bg-gray: #f1f3f4;
  height: 100%;
}

*,
body,
html {
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: Sora-Regular;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  background-color: var(--bg-color);
}

input,
select,
textarea {
  border: none;
  outline: none;
  /* -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-touch-callout: text; */
}

img {
  background-color: var(--opaque);
}

.cover_page_container {
  position: fixed;
  /* border: 2px solid red; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.scroll-vertical {
  overflow-y: auto;
  height: 100%;
  /* border: 1px solid red; */
  padding-bottom: 80px;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

.container {
  width: 85%;
  /* border: 1px solid red; */
  will-change: scroll-position;
  min-height: 100%;
  padding: 0;
  margin: 0px auto;
  margin-top: 10px;
}

.card-ctn {
  display: grid;
  overflow-y: auto;
  width: 100%;
  min-height: 200px;
  height: 100%;
  background-color: var(--bg-white);
}

.ctn-100 {
  height: 100%;
}

.full-w-h {
  width: 100%;
  min-height: 100vh;
}

.flex-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.loader-ctn {
  color: var(--blue) !important;
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
}

/* Animation classes */
.slideInUp {
  animation: slideInUp 1s;
  will-change: scroll-position;
  -webkit-animation: slideInUp 1s;
}

.slideInDown {
  animation: slideInDown 1s;
  will-change: scroll-position;
  -webkit-animation: slideInDown 1s;
}

.slideInLeft {
  animation: slideInleft 1s;
  will-change: scroll-position;
  -webkit-animation: slideInleft 1s;
}

.slideInRight {
  animation: slideInRight 1s;
  will-change: scroll-position;
  -webkit-animation: slideInRight 1s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* '2xl': {'max': '1535px'}, */
@media (max-width: 1535px) {
}

/* 'xl': {'max': '1280px'}, */

@media (max-width: 1280px) {
}

/* 'lg': {'max': '1024px'}, */
@media (max-width: 1024px) {
}

/* 'md': {'max': '912px'}, */
@media (max-width: 912px) {
  .scroll-vertical::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 912px) {
}

@media (max-width: 639px) {
  .container {
    width: 90%;
  }
  .productlist-ctn {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
