@font-face {
  font-family: Sora-Bold;
  src: url(../public/fonts/Sora/Sora-Bold.ttf);
}
@font-face {
  font-family: Sora-Medium;
  src: url(../public/fonts/Sora/Sora-Medium.ttf);
}
@font-face {
  font-family: Sora-Regular;
  src: url(../public/fonts/Sora/Sora-Regular.ttf);
}
@font-face {
  font-family: Sora-Light;
  src: url(../public/fonts/Sora/Sora-Light.ttf);
}
@font-face {
  font-family: Sora-Medium;
  src: url(../public/fonts/Sora/Sora-Medium.ttf);
}
@font-face {
  font-family: Sora-SemiBold;
  src: url(../public/fonts/Sora/Sora-SemiBold.ttf);
}
@font-face {
  font-family: Sora-Thin;
  src: url(../public/fonts/Sora/Sora-Thin.ttf);
}
@font-face {
  font-family: Sora-Var;
  src: url(../public/fonts/Sora/Sora-VariableFont_wght.ttf);
}

:root {
  --bg-color: #e9ecef;
  --bg-white: #fff;
  --icon-color: #000;
  --text-gray: #777777;
  --bg-gray: #f1f3f4;
  height: 100%;
}

*,
body,
html {
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: Sora-Regular;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  background-color: var(--bg-color);
}

.cover_page_container {
  position: fixed;
  /* border: 2px solid red; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.scroll-vertical {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 80px;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

.container {
  width: 85%;
  will-change: scroll-position;
  margin: 0px auto;
  margin-top: 10px;
}

.productlist-ctn {
  display: grid;
  /* border: 1px solid red; */
  align-content: center;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.product {
  width: auto !important;
  /* height: auto; */
}

/* Animation classes */

.slideInUp {
  animation: slideInUp 1s;
  -webkit-animation: slideInUp 1s;
}

.slideInDown {
  animation: slideInDown 1s;
  -webkit-animation: slideInDown 1s;
}

.slideInLeft {
  animation: slideInLeft 1s;
  -webkit-animation: slideInLeft 1s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* '2xl': {'max': '1535px'}, */
@media (max-width: 1535px) {
}

/* 'xl': {'max': '1280px'}, */

@media (max-width: 1280px) {
}

/* 'lg': {'max': '1024px'}, */
@media (max-width: 1024px) {
}

/* 'md': {'max': '912px'}, */
@media (max-width: 912px) {
}

@media (min-width: 912px) {
}

@media (max-width: 639px) {
  .store-header-cnt,
  .container {
    width: 90%;
  }
  .productlist-ctn {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
