.dash-home-frist-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}

.dash-home-panel {
  max-width: 400px;
  height: 140px;
}

.dashboard-graph-ctn {
  margin-top: 32px;
  background-color: var(--bg-white);
  /* max-width: 700px; */
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.graph-title {
  font-weight: 700;
  color: var(--blue);
}

.dashboard-orderdetails-ctn {
  margin-top: 32px;
}

.custom-table-wrapper {
  overflow-y: auto;
}

@media (max-width: 912px) {
  .dash-home-panel {
    max-width: 500px;
    width: 100%;
    margin: 0;
    margin-top: 8px;
  }
}

@media (max-width: 639px) {
  .dash-home-frist-section {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
