.dash-home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  /* border: 1px solid black; */
}

.dash-home-panel {
  padding: 16px 0px !important;
}

.dash-home > * {
  max-width: 316px !important;
}

.dashboard-graph-ctn {
  width: 100%;
  margin-top: 8px;
  background-color: var(--bg-white);
  padding: 8px;
  border-radius: 5px;
  /* border: 1px solid red; */
}

@media (max-width: 639px) {
  .dash-home {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 15px;
  }

  .dash-home > * {
    max-width: 600px !important;
  }

  .dash-home-panel {
    width: 100%;
    /* border: 1px solid black; */
  }
}
